@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  width: 76px;
  height: 20px;
  margin-left: 155px;
  margin-top: 25px;
}

header nav {
  margin-left: 30px;
}

nav ul {
  margin: 0;
  padding: 0;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav a {
  color: black;
  font-weight: bold;
  display: block;
  padding: 15px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
  color: mediumslateblue;
}

.intro-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  align-items: center;
}

.work-section-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.about-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 4rem;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  border-top-right-radius: 110px;
  border: 1px solid #eee;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 18px;
}

.row div {
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.row .left_div {
  width: 50%;
  height: auto;
}

.row .right_div {
  width: 50%;
  height: auto;
}

.contact-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  align-items: center;
  margin-top: 10px;
}

.intro-card {
  display: flex;
  padding: 0.3rem;
  margin: 10px;
  background: url('../assets/intro-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  border-bottom-left-radius: 110px;
  height: 736px;
}

.row:hover {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  box-shadow: 0 0 5px #fff;
}

.row img {
  border-radius: 8px;
  border: 1px solid lightgrey;
  color: #396df2;
  text-decoration: underline;
}

.anchorstyles {
  background: #ebebff;
  color: #6070ff;;
  padding: 0 5px;
  border-radius: 5%;

}

.anchorstyles:hover {
  box-sizing: border-box;
  border: 1px solid #396df2;
  text-decoration: underline;
}

.button-styles {
  background-color: #fff;
  color: #7f8cff;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 24px;
  border: 1px solid #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.button-styles-2 {
  background: #4053fc;
  color: white;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 24px;
  border: 1px solid #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.button-styles-2:hover {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  box-shadow: 0 0 5px #4053fc;
  outline-color: lightslategray;
}

.specials img {
  width: 48px;
  height: 48px;
}

.work-section-card img:hover {
  box-sizing: border-box;
  color: #396df2;
  border: 1px solid #6070ff;
  box-shadow: 0 0 5px #fff;
  border-radius: 8px;
}

.langs {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-top: 10px;
  margin-bottom: 18px;
}

.specials {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  background: #f7f7f9;
  border-radius: 8px;
}

.contact-card {
  display: flex;
  border-top-left-radius: 100px;
  padding: 0.3rem;
  margin: 10px;
  background: url('../assets/form-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #607bff;
}

.contact-card > * {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 18px;
}

.form-styles h2 {
  font-family: 'Poppin', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin: 4px;
}

.form-styles p {
  color: #ebebff;
  font-family: 'Poppin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  padding: 18px;
}

.form-controls input {
  padding: 10px;
  margin: 10px;
  width: 260px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  color: #172b4d;
}

.form-controls textarea {
  padding: 10px;
  margin: 10px;
  width: 260px;
  height: 170px;
  background: #fff;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.form-button {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  color: #6070ff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 24px;
  width: 140px;
  height: 48px;
  margin: 4px;
}

button[type="submit"]:hover {
  background-color: #fff;
  color: #fff;
}

.main-content {
  margin: 5px;
  padding: 5px;
}

.main-content h1 {
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #091e42;
  margin-left: 260px;
  margin-top: 269px;
}

.main-content p {
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin-left: 260px;
  margin-top: 28px;
  margin-bottom: 38px;
}

.main-content span {
  justify-content: center;
  align-items: center;
  margin-left: 260px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 40px;
}

.main-content #list {
  margin-left: 260px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding-bottom: 28px;
}

.main-content #list a {
  color: #505f79;
}

.work-section-card span {
  color: #091e42;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 18px;
}

.about-card .flex-left .aboutus-list span {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 18px;
}

.social-media-icons {
  color: #505f79;
}

.bg-work-sect {
  background: aliceblue;
}

.left_div h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #091e42;
  margin-bottom: 18px;
}

.row p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 18px;
}

.work-section-card button {
  color: #396df2;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
}

.row ul {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
  padding: 0 12px;
}
.row li {
  color: #6070ff;
}

.left_div h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #091e42;
  padding: 2px;
}

.left_div p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-top: 28px;
}

input[type="text"]:hover {
  box-sizing: border-box;
  color: #396df2;
  border: 1px solid purple;
  text-decoration: underline;
}

input[type="email"]:hover {
  box-sizing: border-box;
  color: #396df2;
  border: 1px solid purple;
  text-decoration: underline;
}

button[type="submit"]:active {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

button[type="submit"]:focus {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

textarea:hover {
  text-decoration: underline;
  color: #396df2;
  box-sizing: border-box;
  border: 1px solid blueviolet;
}

.languages-icon {
  margin-left: 360px;
  color: black;
}

.framework-icon {
  margin-left: 360px;
  color: black;
  font-size: 8px;
}

.skills-icon {
  margin-left: 418px;
  color: black;
  font-size: 8px;
}

.flash {
  animation-name: flash;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes flash {
  from {
    color: red;
  }

  to {
    color: black;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.nav-menu {
  top: 5rem;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  header img {
    width: 76px;
    height: 20px;
    margin-left: 5px;
    margin-top: 25px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .intro-card {
    display: flex;
    width: 100%;
    padding: 0.3rem;
    margin: 10px;
  }

  .main-content h1 {
    margin-left: 0;
    margin-top: 115px;
  }

  .main-content p {
    margin-left: 0;
    margin-top: 0;
  }

  .main-content span {
    margin-left: 0;
    margin-top: 0;
  }

  .main-content #list {
    margin-left: 0;
  }

  .work-section-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 4rem;
    align-items: center;
    justify-content: center;
  }

  .active {
    float: inherit;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: start;
    left: 0;
    flex-direction: column;
    height: 100%;
  }

  .bgcolor {
    background: #6070ff;
  }

  .active li a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
  }
}
