@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, li, a {
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 13px;
}

.nav-bar a {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  color: #6070ff;
  text-decoration: none;
  left: 10%;
}

.fa-bars {
  color: #6070ff;
  position: absolute;
  right: 20px;
}

/* Desktop styles */
.intro-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  align-items: center;
}

.work-section cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  align-items: center;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  align-items: center;
}

.contact-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  align-items: center;
}

.intro-card {
  display: flex;
  border: 2px solid #e7e7e7;
  border-radius: 2px;
  padding: 0.3rem;
  margin: 10px;
}

.work-section-card {
  display: flex;
  border: 2px solid #e7e7e7;
  border-radius: 2px;
  padding: 0.3rem;
  margin: 10px;
}


.about-card {
  display: flex;
  flex: 1 1 auto;
  border-top-right-radius: 100px;
  padding: 0.3rem;
  margin: 10px;
}

.about-card > * {
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50%;
}

.heading h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  border: 2px solid red;
  color: red;
  padding: 20px;
  margin: 20px;
}

.heading p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  color: #344563;
}

.langs h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  border: 2px solid red;
  color: red;
  padding: 20px;
  margin: 20px;
}

.contact-card {
  display: flex;
  border-top-left-radius: 100px;
  padding: 0.3rem;
  margin: 10px;
  background: #607bff;
}

.contact-card > * {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 18px;
}

.form-styles h2 {
  font-family: 'Poppin', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin: 4px;
}

.form-styles p {
  color: #ebebff;
  font-family: 'Poppin', sans-serif;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #ebebff;
  padding: 18px;
  margin
}

.form-controls input {
  padding: 10px;
  margin: 10px;
  width: 260px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  color: #172b4d;
}

.form-controls textarea {
  padding: 10px;
  margin: 10px;
  width: 260px;
  height: 170px;
  background: #fff;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.form-button {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  color: #6070ff;
  font-size: 16px;
  font-weight: 500px;
  letter-spacing: 0.03em;
  line-height: 24px;
  width: 140px;
  height: 48px;
  margin: 4px;
}

button[type="submit"]:hover {
 background: #6070ff;
 color: #fff;
}

@media (min-width: 768px) {

  .work-section-cards {
    grid-template-columns: 1fr;
  }

  .work-section-card {
    flex-direction: row;
    margin: 0 160px;
  }

  .about-cards {
    grid-template-columns: 1fr;
  }

  .about-card {
    flex-direction: row;
    margin: 0 160px;
  }

}



@media (max-width: 1200px) {
  .intro-cards {
    grid-template-columns: 1fr;
  }

  .intro-card {
    flex-direction: row;
    margin: 0 160px;
  }

  .contact-cards {
    grid-template-columns: 1fr;
  }

  .contact-card {
    flex-direction: row;
    margin: 0;
  }

}