@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding: 2px 2px;
}

li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding: 2px 2px;
}

a {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding: 2px 2px;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

header img {
  width: 76px;
  height: 20px;
  margin-left: 155px;
  margin-top: 25px;
}

header nav {
  margin-left: 30px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav a {
  color: black;
  font-weight: bold;
  display: block;
  padding: 15px;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
  color: mediumslateblue;
}

.intro-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  align-items: center;
}

.work-section-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  align-items: center;
  justify-content: center;
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  align-items: center;
}

.contact-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
  align-items: center;
}

.intro-card {
  display: flex;
  padding: 0.3rem;
  margin: 10px;
  background: url('../assets/intro-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  border-bottom-left-radius: 110px;
  height: 736px;
}

.work-section-card {
  display: flex;
  border: 2px solid #e7e7e7;
  border-radius: 2px;
  padding: 0.3rem;
  margin: 0 auto;
  max-width: 1100px;
  background: #fff;
}

.about-card {
  display: flex;
  flex: 1 1 auto;
  border-top-right-radius: 100px;
  padding: 0.3rem;
  margin: 0 auto;
  max-width: 1100px;
}

.about-card > * {
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50%;
}

.work-section-card:hover {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  box-shadow: 0 0 5px #fff;
}

.work-section-card img {
  border-radius: 8px;
  border: 1px solid lightgrey;
  color: #396df2;
  text-decoration: underline;
}

.anchorstyles {
  background: #ebebff;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
}

.anchorstyles:hover {
  box-sizing: border-box;
  border: 1px solid #396df2;
  text-decoration: underline;
}

.button-styles {
  background-color: #fff;
  color: #7f8cff;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 24px;
  border: 1px solid #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.button-styles-2 {
  background: #4053fc;
  color: white;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.03em;
  line-height: 24px;
  border: 1px solid #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.button-styles-2:hover {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  box-shadow: 0 0 5px #4053fc;
  outline-color: lightslategray;
}

.specials img {
  width: 48px;
  height: 48px;
}

.work-section-card img:hover {
  box-sizing: border-box;
  color: #396df2;
  border: 1px solid #6070ff;
  box-shadow: 0 0 5px #fff;
  border-radius: 8px;
}

.langs {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-top: 10px;
  margin-bottom: 18px;
}

.specials {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  background: #f7f7f9;
  border-radius: 8px;
}

.contact-card {
  display: flex;
  border-top-left-radius: 100px;
  padding: 0.3rem;
  margin: 10px;
  background: url('../assets/form-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #607bff;
}

.contact-card > * {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 18px;
}

.form-styles h2 {
  font-family: 'Poppin', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin: 4px;
}

.form-styles p {
  color: #ebebff;
  font-family: 'Poppin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  padding: 18px;
}

.form-controls input {
  padding: 10px;
  margin: 10px;
  width: 260px;
  height: 48px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  color: #172b4d;
}

.form-controls textarea {
  padding: 10px;
  margin: 10px;
  width: 260px;
  height: 170px;
  background: #fff;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.form-button {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  color: #6070ff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 24px;
  width: 140px;
  height: 48px;
  margin: 4px;
}

button[type="submit"]:hover {
  background-color: #fff;
  color: #fff;
}

.main-content {
  margin: 5px;
  padding: 5px;
}

.main-content h1 {
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #091e42;
  margin-left: 260px;
  margin-top: 269px;
}

.main-content p {
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin-left: 260px;
  margin-top: 28px;
  margin-bottom: 38px;
}

.main-content span {
  justify-content: center;
  align-items: center;
  margin-left: 260px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 40px;
}

.main-content #list {
  margin-left: 260px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding-bottom: 28px;
}

.about-card .flex-left a {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px;
}

.main-content #list a {
  color: #505f79;
}

.work-section-card span {
  color: #091e42;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 18px;
}

.about-card .flex-left .aboutus-list span {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 18px;
}

.social-media-icons {
  color: #505f79;
}

.bg-work-sect {
  background: aliceblue;
}

.flex-left {
  margin: 5px;
  padding: 5px;
}

.flex-right {
  margin: 5px;
  padding: 5px;
}

.work-section-card .flex-left h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #091e42;
  margin-bottom: 18px;
}

.work-section-card p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 18px;
  margin-bottom: 18px;
}

.work-section-card button {
  color: #396df2;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
}

.work-section-card ul {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #6070ff;
}

.about-card .flex-left img {
  width: 100%;
}

.about-card .flex-right img {
  width: 100%;
}

.about-card .flex-left h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #091e42;
  padding: 2px;
}

.about-card .flex-left p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
  margin-top: 28px;
}

input[type="text"]:hover {
  box-sizing: border-box;
  color: #396df2;
  border: 1px solid purple;
  text-decoration: underline;
}

input[type="email"]:hover {
  box-sizing: border-box;
  color: #396df2;
  border: 1px solid purple;
  text-decoration: underline;
}

button[type="submit"]:active {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

button[type="submit"]:focus {
  box-sizing: border-box;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

textarea:hover {
  text-decoration: underline;
  color: #396df2;
  box-sizing: border-box;
  border: 1px solid blueviolet;
}

.languages-icon {
  margin-left: 360px;
  color: black;
}

.framework-icon {
  margin-left: 360px;
  color: black;
  font-size: 8px;
}

.skills-icon {
  margin-left: 418px;
  color: black;
  font-size: 8px;
}

.flash {
  animation-name: flash;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes flash {
  from { color: red; }
  to { color: black; }
}

@media (max-width: 500px) {
  .work-section-cards { grid-template-columns: 1fr; }

  .work-section-card {
    flex-direction: column;
    width: 100%;
  }

  .about-cards { grid-template-columns: 1fr; }

  .about-card {
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .work-section-cards { grid-template-columns: 1fr; }

  .work-section-card { flex-direction: row; }

  .about-cards { grid-template-columns: 1fr; }

  .about-card { flex-direction: row; }
}

@media (max-width: 1200px) {
  .intro-cards { grid-template-columns: 1fr; }

  .intro-card { flex-direction: row; }

  .contact-cards { grid-template-columns: 1fr; }

  .contact-card { flex-direction: row; }
}
